* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  background-color: white;
}

#nav {
  position: relative;
  z-index: 999;
}
#nav a {
  color: #ffffff;
}
.media-icon {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(109, 103, 103, 0.7);
  margin: 0.5em;
}
.brand {
  font-family: "PT Serif", serif;
  font-weight: bold;
  font-size: 40px;
}
.section {
  width: 100vw;
  min-height: 880px;
}
#hero {
  background-image: url("./images/hero-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

#hero::before {
  background-color: rgba(51, 51, 51, 0.8);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
}
.title {
  font-family: "PT Serif", serif;
  font-weight: bold;
  font-size: 56px;
}
.subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 24px;
}

.paragraph {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
}
.white {
  color: white;
}
.black {
  color: #333333;
}
.background-black {
  background-color: #333333;
}
.background-rose {
  background-color: #f9f7f2;
}
.background-white {
  background-color: white;
}
.hero-content-right h1 {
  font-family: "PT Serif", serif;
  font-size: 72px;
  color: #ffffff;
}

.hero-content-right p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #ffffff;
}

.hero-btn {
  width: 170px;
  height: 48px;
}

.btn-purple {
  width: 170px;
  height: 48px;
  margin-right: 30px;
  background-color: #6327eb;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #ffffff;
}

.btn-outline {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
}

.price {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: rgba(51, 51, 51, 0.501557);
}

#menu p {
  margin: 0;
}
.menu-row {
  padding: 3em;
}

.menu-title {
  padding-bottom: 10px;
}
.menu-left {
  padding-top: 100px;
}
.dish {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
}
.description_dish {
  font-family: "Roboto", sans-serif;
  color: rgba(51, 51, 51, 0.50133);
  font-size: 14px;
}

.bowl-small {
  width: 112px;
  height: 112px;
}

.bottom_line {
  border-bottom: 1px #eaeaea solid;
}
.line {
  border-right: 1px #eaeaea solid;
}

.events-right div {
  background-color: #ffffff;
}

.events-title {
  font-family: "PT Serif", serif;

  font-weight: bold;
  font-size: 40px;
}
.evens-subtitle {
  font-family: "Roboto", sans-serif;

  font-weight: 300;
  font-size: 20px;
}

.gallery-img {
  margin: 32px 0;
}

.review {
  background-color: #ffffff;
  max-width: 20em;
  height: 27em;
}

.paper {
  font-family: "PT Serif", serif;

  font-weight: bold;
  font-size: 24px;
}
.press-container {
  width: 80%;
  margin: 0;
}
.div-fluid {
  max-width: 100%;
  height: auto;
}
#reservation {
  top: 0;
  left: 0;
}

.reservation-container,
.menu-container {
  width: 95%;
}
.reservation-date {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #333333;
}
.reservation-container {
  z-index: 5;
  min-height: 880px;
  padding: 2em;
}

.opinions-container {
  z-index: 5;
  padding: 2em;
  min-height: 545px;
  width: 75%;
}
.reservation-row {
  padding: 0 3em;
}
.lunch-menu-row {
  padding-bottom: 3rem;
  margin-left: 3rem;
}
.div-black-1 {
  height: 403px;
  top: 246px;
}

.div-black-2 {
  height: 200px;
  top: 680px;
}

.footer {
  min-height: 456px;
}

.copyright {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.502972);
}
@media (max-width: 992px) {
  .about_img {
    padding: 40px 0 40px 0;
  }

  .line {
    border-right: none;
  }
  #reservation{
    min-height: 1000px;
   }
  .reservation-container {
    width: 100%;
    min-height: 1000px;
    padding: 1em;
  }
}

@media (max-width: 576px) {
  .menu-left {
    padding-top: 0;
  }
  .menu-container {
    width: 100%;
    background-color: #ffffff;
    padding: 90px 15px 15px 15px;
  }
  .gallery-img {
    margin: 17px 0;
  }
  
  .menu-row {
    padding: 0;
  }

  .hide {
    display: none;
  }
  .reservation-row {
    padding: 0;
  }
  .opinions-container {
    z-index: 5;
    padding: 2em;
    min-height: 545px;
    width: 90%;
  }

  .lunch-menu-row {
    margin-left: 0 1rem 0 1rem;
  }
}
